In [ ]:
meta = 1000

vendas = {
  'joao': 1500,
  'julia': 2700,
  'maria': 800,
  'marle': 287,
  'augusto': 500,
  'neggeba': 978,
  'clock': 1800,
  'lina': 2300,
  'jakiro': 1500,
  'riki': 350,
}