In [33]:
import pandas as pd
import numpy as np

rng = np.random.default_rng()


vendas_produtos = {
  'iphone' : [0,0],
  'galaxy' : [0,0],
  'ipad' : [0,0],
  'pocco' : [0,0],
  'tv' : [0,0],
  'pc' : [0,0],
  'ryzen' : [0,0],
  'rtx580' : [0,0],}


for produto in vendas_produtos:
  for i in range(len(vendas_produtos[produto])):
    numero = rng.integers(low=50, high=100)
    vendas_produtos[produto][i] = numero

#sem o orient cada chave vira uma coluna
vendas_produtos_df = pd.DataFrame.from_dict(vendas_produtos, orient='index')
vendas_produtos_df = vendas_produtos_df.rename(columns={0: 'Vendas 2021', 1: 'Vendasa 2022'})
display(vendas_produtos_df)

        Vendas 2021  Vendasa 2022
iphone           61            87
galaxy           50            62
ipad             80            60
pocco            87            92
tv               75            75
pc               82            66
ryzen            89            91
rtx580           65            91