In [1]:
import pandas as pd

vendas_produtos = {
  'iphone' : [558147,951642],
  'galaxy' : [558147,951642],
  'ipad' : [558147,951642],
  'pocco' : [558147,951642],
  'tv' : [558147,951642],
  'pc' : [558147,951642],
  'ryzen' : [558147,951642],
  'rtx580' : [558147,951642],}

#sem o orient cada chave vira uma coluna
vendas_produtos_df = pd.DataFrame.from_dict(vendas_produtos, orient='index')
vendas_produtos_df = vendas_produtos_df.rename(columns={0: 'Vendas 2021', 1: 'Vendasa 2022'})
display(vendas_produtos_df)

        Vendas 2021  Vendaasa 2022
iphone       558147         951642
galaxy       558147         951642
ipad         558147         951642
pocco        558147         951642
tv           558147         951642
pc           558147         951642
ryzen        558147         951642
rtx580       558147         951642